
.expectation{
  background-color: rgb(158, 193, 245);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: rgb(56, 55, 55);
  width: 50%;
  height: fit-content;
  padding: 40px;
  border-radius: 20px;
}

.target-amount, .section button {
  width: 70%;
  max-width: 200px;
  height: 40px;
  font-size: large;
}

.target-amount::placeholder{
  font-size: large;
}

.button{
  width: 160px;
  cursor: pointer;
  background-color: rgb(247, 250, 253);
  font-size: 22px;
  font-weight: 400;
  border-radius: 10px;
  transition: 0.3s;
}

.button:hover{
  /* background-color: rgb(179, 179, 133);
  transform: scale(110%); */
  transform: scale(105%);
    color: rgb(153, 1, 1);
}

.textarea{
  width: 500px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donors{
  border: 1px solid wheat;
  /* color: black; */
  /* background-color: gray; */
  width: 100%;
  border-radius: 5px;
  padding: 10px;
}

td{
  font-size: 20px;
  border: 1px solid black;
}

thead{
  font-weight: 700;
}

tfoot{
  font-weight: 500;
}

tr{
  border: 1px solid black;
}

input {
  height: 35px;
  text-align: center;
  border-radius: 10px;
}

.space-out{
  margin: 10px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.max-width{
  width: 80%;
}

.error{
  color: red;
  font-size: 15px;
  margin-top: 25px;
}

.form-row{
  display: flex;
  gap: 5px;
  width: 80%;
  justify-content: start;
  align-items: center;
}

.form-row h3{
  flex: 30%;
}

.form-row input{
  flex: 70%;
}

.crowd-fund{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 800px;
  overflow-y: scroll;
}

.title-bar{
  text-align: center;
  margin: 10px;
  font-size: 26px;
  font-weight: 600;
}